# Build artifacts
build/
/dist
.build
*.a
*.sqlite

# iOS/macOS
*.xcworkspacedata
*.xcuserstate
*.xcbkptlist
*.plist

# Android
.gradle/
*.aar
local.properties
jniLibs/
*.apk
*.ap_
*.dex

# IDE
.vscode
.idea/
*.iml

# System
.DS_Store